@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
   background-color: black;
}
h1{
    font-family: 'Press Start 2P', cursive;
    color: #9AF415;
    text-align: center;
}
* {box-sizing: border-box;}

.container {
  position: relative;
  width: 50%;
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border: 4px solid green;
  border-radius: 5px;
}

.image {
    width: 55%;
    margin: auto;
    display: block;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}
table{
  font-family: 'Press Start 2P', cursive;
  color: white;
  border-collapse: collapse;
  width: 100%;
}
th:hover{
  background-color: white;
  border: 10px solid #9AF415;
  color: black;
  padding: 8px;
  text-align: center;
  font-size: 30px;
}
td{
  border: 5px solid #378D10;
  color: white;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color:#134001;
}
td:hover{
  background-color: white;
  color: black;
}

#sala:hover{
  font-size: 20px;
  background-color: red;
}
